.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 300px;
}
.input-field {
  margin-bottom: 20px !important;
}

.submit-button {
  margin-top: 20px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
}
.link-to-register {
  margin-top: 20px;
  text-align: center;
}
.link {
  text-decoration: none;
  color: #1976d2;
}

.error {
  color: red;
  font-weight: 400;
  font-size: 24px;
}
