.menu-footer {
  display: flex;
  justify-content: center; /* Центрируем содержимое по горизонтали */
  align-items: center; /* Центрируем содержимое по вертикали */
  padding: 20px; /* Отступы вокруг меню */
}

.button-link {
  margin: 10px !important;
  width: 150px !important;
}
