.profile-container {
  display: flex;
  justify-content: center; /* Выравнивание по верхнему краю */
  margin-top: 20px;
}

.profile-section {
  margin-top: 50px;
  margin-right: 20px; /* Отступ между аватаром и формой */
}

.avatar {
  width: 100px;
  height: auto;
  border-radius: 50%;
}

.profileInfo {
  margin-top: 10px;
}

.form-section {
  display: flex;
  flex-direction: column;
}

.input-field {
  margin-bottom: 20px !important ;
}

.submitButton {
  margin-top: 10px;
}
