.app-bar {
  border-radius: 20px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 2rem; /* или другой размер, который вам нужен */
  text-decoration: none;
  color: inherit;
}
.avatar {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.shopping-cart {
  height: 60px;
  width: 60px;
}
