.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cart-item img {
  width: 100px; /* или другой размер */
  height: auto;
  margin-right: 10px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-controls {
  display: flex;
  align-items: center;
}

.cart-item-controls button {
  margin: 0 5px;
}
